html, body, .container-fluid, .content-row {
    height: 100%;
}

.hide {
    display: none;
}

.city-btn:hover {
    background-color: lightgoldenrodyellow;
    cursor: pointer;
}

.card {
    background-color: lightcyan;
}